@font-face {
  font-family: 'iconfont';  /* project id 408674 */
  src: url('https://at.alicdn.com/t/font_408674_qn43iz99c41pds4i.eot');
  src: url('https://at.alicdn.com/t/font_408674_qn43iz99c41pds4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_408674_qn43iz99c41pds4i.woff') format('woff'),
  url('httos://at.alicdn.com/t/font_408674_qn43iz99c41pds4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_408674_qn43iz99c41pds4i.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:18px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1rem;s
}
/* .iconfont1{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1rem;s
} */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    cursor:default;
    -webkit-appearance:none;
}

.body{
    font-family:微软雅黑;
	margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
a{
    color: #000000;
}
header{
    width: 100%;
    height: 1rem;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
}
.tour{
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.tour1{
    position: absolute;
    top:-.2rem;
    left: 2%;
    line-height: 1rem;
  /*   display: block; */
}
.tour p{
    text-align: center;
    line-height: 1rem;
    font-size: 18px;
}
section{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
}
.qbdd{
    width: 100%;
    padding-left: .1rem;
    padding-right: .1rem;
    height: 1rem;
    border-bottom: 1px solid #000000;
}
.qbdd ul{
    margin: 0 auto;
}
.qbdd li{
    font-size: .13rem;
    line-height: 1rem;
    width: 20%;
    text-align: center;
    float: left;
}
.qbdd li a{
    text-decoration: none;
}
.qbdd li .aclass{
    color: green;
    text-decoration:underline;
}
.ddbh{
    width: 100%;
    height: .8rem;
    border-bottom: 1px solid #dcdcdc;
}
.ddbh{
    font-size: 14px;
    line-height: .8rem;
}
.ddbh .li1{
    float: left;
    margin-left: .15rem;
}
.ddbh .li2{
     margin-right: .15rem;
     float: right;
 }
.ddbh .li2 button{
    outline: none;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    background-color: white;
    border: none;
}
.zfdd{
    border-bottom: 1px solid #dcdcdc;
}
.zfdd ul{
    width: 100%;
    height: 70px;

}
.zfdd ul li {
    display: block;
    float: left;
}
.li3{
    margin-top: .25rem;
}
.li3 img{
    margin-left: .15rem;
    border: 1px solid #dcdcdc;
    padding: 0.01rem;
  /*   margin: auto; */
    display: inline-block;
    text-align: center;
}
.li4{
    margin-top: .25rem;
    margin-left: .2rem;
    font-size: 14px;
    line-height: .2rem;


}

.li4 span{
    display: block;
}

.ddfk{
    width: 100%;
    height: .4rem;
    padding-left: .15rem;
    padding-right: .15rem;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
}
.ddfk li{
    font-size: .13rem;
    line-height: .4rem;
}
.ddfk .li5 {
    font-size: 14px;
    float: left;
}
.ddfk .li6{
    margin-left: .15rem;
    float: right;
}
.ddfk .li6 button{
    font-size: .13rem;
    outline: none;
    background-color: green;
    color: white;
    padding: 0.02rem;
    border: 1px solid green;
    border-radius: 1px;
}
.ddfk .li6 a{
    display: block;
}
.zshlogo{
    width: 100%;
    margin-top:3.6rem;
}
.zshlogo a img{
    padding: 0.05rem;
    margin: 0 auto;
}

.zshlogo p{
    font-size: .12rem;
    text-align: center;
}
footer{
    width: 100%;
    height: 1rem;
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-nav{
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.footer-box{
   /*  position: absolute; */
    width: 20%;
    height: 1rem;

    background-color: green;
    float: left;
    display: block;
    /* overflow: hidden; */
}
.footer-box a{
    height: 49px;
}
.footer-box i{
    /* height: .24rem; */
    float: left;
    margin-left: 30%;
    margin-top: -.2rem;
    /* text-align: center; */
    font-size: 24px;
}
.footer-box span{
   
    font-size: 14px;

    text-align: center;
    margin: 0 auto;
}

